<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>inter_18pt_bold.ttf</string>
		<string>inter_18pt_medium.ttf</string>
		<string>inter_18pt_regular.ttf</string>
		<string>inter_24pt_bold.ttf</string>
		<string>inter_24pt_medium.ttf</string>
		<string>inter_24pt_regular.ttf</string>
		<string>inter_28pt_bold.ttf</string>
		<string>inter_28pt_medium.ttf</string>
		<string>inter_28pt_regular.ttf</string>
	</array>
</dict>
</plist>
